# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# production
/dist
/tmp

# misc
.env
.env.*
.cache
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ide
.idea